*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #EF3B36;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.h3{
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 50px;
    
}
.res{
    height: 200px;
    width: 360px;
    border: 3px solid blueviolet;
    border-radius: 5px;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 38%;
    margin-top: 5%;
    background: lemonchiffon !important;
    color: rgb(182, 241, 93);
    background-color: black;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    

}


@media screen and (min-width:280px) and (max-width:415px) {

    .res{
        height: 80px;
        width: 150px;
        border: 3px solid blueviolet;
        border-radius: 5px;
        display:flex ;
        flex-wrap: wrap;
        
        
        position: relative;
        justify-content: center;
        align-items: center;
        /* margin-right: 180px !important;
        margin-top: 5%;  */
        background: black !important;
        color: rgb(182, 241, 93);
        background-color: black;
        font-size: smaller;
        font-weight: bolder;
        font-family: sans-serif;
        
    
    }
   
}